<ion-header>
  <ion-toolbar>
    <ion-title>Add Cocktail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h1>Create New Cocktail</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="name">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>  
        <label for="imgUrl">Image URL</label>
        <input type="text" class="form-control" id="imgUrl" [(ngModel)]="imgUrl">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>  
        <label for="description">Description</label>
        <textarea class="form-control" id="description" [(ngModel)]="description"></textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>  
        <ion-button (click)="createCocktail()">Create</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
