<ion-header *ngIf="cocktail">
  <ion-toolbar>
    <ion-title>{{cocktail.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="cocktail">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-card>
          <img src="{{cocktail.imgUrl}}" />
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>{{cocktail.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{cocktail.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
