<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-item lines="none">
          <ion-text>
            <h2>Newest Drinks</h2>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size-xs="6" size-sm="3" size="3" class="ion-no-padding" *ngFor="let cocktail of cocktails">
        <ion-card button routerLink="/cocktails/{{cocktail.payload.doc.id}}">
          <ion-img [src]="cocktail.payload.doc.data().imgUrl"></ion-img>
          <ion-card-header>
            <ion-card-title>{{cocktail.payload.doc.data().name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{cocktail.payload.doc.data().description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item color="dark" lines="none">
          <ion-text>
            <h6>created by Alexander Stöckl</h6>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
